body{
    font-family: poppins;
    font-weight: 300;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #2f352f28;
    padding: 30px;
    margin: 0;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 60%;
    max-width: 600px;

 
}
th, td {
    border: 1px solid #0000002a;
    padding: 15px;
    text-align: center;

}
th {
    background-color: #17d631;
    font-weight: bold;

}