body{
    font-family: poppins;
    font-weight: 300;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    background-color: #2f352f28;
    padding: 30px;
    margin: 0;
}

table {
   
    border-color: white;
    border-radius: 10px;
    overflow: hidden;
    

    width: 60%;
    max-width: 600px;

 
}
th{
    border: 1px solid #0000002a;
    padding: 15px;
    text-align: center;

}
th {
    background-color: #17d631;
    font-weight: bold;

}